
<div class="modal hide" id="edit-profile">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>Edit Person</h3>
	</div>
	<div class="modal-body">
		<p id="edit-profile-error"></p>
		<input id="edit-profile-id" type="hidden" value="" />
		<form method="post" action="/profiles" id="edit-profile-form">
			<label>Name</label>
			<input id="edit-profile-name" type="text" name="name" /> 
			<label>Email</label>
			<input id="edit-profile-email" type="text" name="email" />
		</form>
	</div>
	<div class="modal-footer">
		<input id="edit-profile-submit" class="btn" name="commit" type="submit" value="Save" />
	</div>
</div>
