<%= erb :'forms/edit_charge_form' %>

<div class="modal hide" id="edit-charge">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>Viewing Charge</h3>
	</div>
	<div class="modal-body">
	</div>
	<div class="modal-footer">
		<input id="edit-charge-submit" class="btn" name="commit" type="submit" value="Save" />
	</div>
</div>
