<%= erb :'forms/edit_profile' %>

<div class="modal hide" id="edit-profile">
	<div class="modal-body"> </div>
</div>

<div class="modal hide" id="remove-profile">
	<div class="modal-body">
		<p id="remove-profile-error"></p>
		<p>Are you sure you wish to permanently remove this person? Note: your payment history
		will remain intact</p>

		<a id="remove-profile-submit" class="btn btn-danger">Remove</a>
		<a data-dismiss="modal" class="btn btn-info">Cancel</a>
	</div>
</div>

<%= erb :'forms/new_subscription' %>
<%= erb :'forms/new_payment_method' %>
