<%= erb :'forms/edit_plan' %>
<div class="modal hide" id="edit-plan">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>Edit Plan</h3>
	</div>
	<div class="modal-body"> </div>
</div>

