
<div class="hide modal" id="new-charge">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>New Charge</h3>
	</div>
	<div class="modal-body">
		<%= erb :'forms/new_charge_form' %>
	</div>
	<div class="modal-footer">
		<input id="new-charge-submit" class="btn" name="commit" type="submit" value="Save" />
	</div>
</div>

