<div class="hide modal" id="new-profile" title="Add Someone">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>Add Someone</h3>
	</div>

	<div class="modal-body">
		<%= erb :'forms/new_profile' %>
	</div>

</div>

