<div id="share-plan" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>Share Plan</h3>
	</div>

	<div class="modal-body">
		<form id="share-plan-form">
			<label>Send invitations</label>
			<textarea id="plan-share-emails" placeholder="Emails separated by commas" style="width:34em"></textarea>

			<div class='modal-form-actions'>
				<input id="share-plan-submit" class="btn" name="commit" type="submit" value="Share" />
			</div>
		</form>
	</div>

</div>
