<div id="share-plan" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>Share Plan</h3>
	</div>

	<div class="modal-body">
		<p> Your plan's public link: <a target="_blank" href-"#" class="plan-url"></a></p>
		<form id="share-plan-form">
			<label>Share with the following emails:</label>
			<textarea cols="48" rows="8" placeholder="Emails separated by commas"></textarea>
		</form>
	</div>

	<div class="modal-footer">
		<input id="share-plan-submit" class="btn" name="commit" type="submit" value="Share" />
	</div>
</div>
