<div id="share-plan" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>Share</h3>
	</div>

	<div class="modal-body">
		<p> Public page: <a target="_blank" href-"#" class="plan-url"></a></p>
		<form id="share-plan-form">
			<label>Send invitations</label>
			<textarea id="plan-share-emails" placeholder="Emails separated by commas" style="width:34em"></textarea>
		</form>
	</div>

	<div class="modal-footer">
		<input id="share-plan-submit" class="btn" name="commit" type="submit" value="Share" />
	</div>
</div>
