<script id='profile-subscriptions-tmpl' type='text/template' class='hide' />

	<h4>Subscriptions</h4>
	<table class='table'>
		[[ _.each(subscriptions) { ]]
		[[ } ]]
		<tr>
		</tr>
	</table>
	
</script>
