<script id='profile-table-tmpl' type='text/template' class='hide' />
	<table id="profiles-table" class="table clickable-rows">
			<thead> <tr> <th></th> </tr> </thead>
			<tbody>
				[[ var colors = {'Gray': '#f0f0f0', 'Green': '#d2e6d0', 'Red': '#ddc2c2'} ]]
				[[ _.each(profiles, function(profile) { ]]
					<tr id="{{profile.id}}" class="view-profile-button" style='background-color:{{colors[profile.state]}}'>
						<td class="profile-table-data">
							{{ profile.name ? profile.name + ' (' + profile.email + ')' : 
									profile.email }}
								&nbsp; <a class='hide btn' href='#' id='edit-profile-info'><i class='icon-pencil'></i> Edit</a>
								<a class='' href='#' style='float:right'><i class='icon-remove'></i></a>
						</td>
					</tr>
				[[ }); ]]

			<tr id="new-profile-button">
				<td>
				<a href="#"><i class="icon-plus"></i> Add Someone</a>
				</td>
			</tr>

			</tbody>
		</table>
	</script>
