
<div class="account-nav btn-group">
		<a id="edit-account-btn" rel="tooltip" title="Account Settings" href="#" class='btn'><i class="icon-wrench"></i> Settings</a>
		<a href="#" id="get-help" rel="tooltip" title="Get Help" class='btn'><i class="icon-question-sign"></i> Help</a>
		<a id="logout-button" rel="tooltip" title="Logout" href="/logout" class='btn'><i class="icon-off"></i> Logout</a>
</div>
