<script id='plan-nav-tmpl' type='text/template' class='hide'>
	<ul class='nav nav-tabs nav-stacked' id='plan-nav'>
		[[plans.each(function(plan) { ]]
			<li class={{ plan.id == selected.id ? 'active' : '' }}><a data-id='{{ plan.id }}' class='dropdown-item' href='#'> {{ plan.get('name') }}</a></li>
		[[ }) ]]
	<li><a id='new-plan-button' href='#'><i class='icon-plus'></i> New Plan</i></a></li>
	</ul>
</script>

<script id='plan-desc-tmpl' type='text/template' class='hide'>
	<p id='plan-desc'>
	Charging <strong>${{format_cents(plan.get('amount'))}}</strong> every <strong>{{plan.get('cycle')}}</strong>
	[[if(plan.get('initial_charge') != 0) { ]]
		with an initial charge of <strong>${{format_cents(plan.get('initial_charge'))}}</strong>
	[[ } ]]
	&nbsp; <a href="#" id='edit-plan-button' class='btn btn-small'><i class="icon-pencil"></i> Edit</a>
	&nbsp; <a href="{{plan.get('url')}}" class='btn btn-small share-plan-button' target='_blank'><i class="icon-globe"></i> Invite people</a>
	<br />
	<a href="{{plan.get('url')}}" class='' target='_blank'><strong>Sharing link</strong></a>
	</p>
	<div id='plan-edit-container' class='hide'></div>
</script>
