<!doctype html>

<html>

<head>
  <title>coral payments</title>
	<link rel="stylesheet" media="screen,projection" href="css/bootstrap.css">
	<link rel="stylesheet" media="screen,projection" href="css/bootstrap-responsive.css">
	<link rel="stylesheet" media="screen,projection" href="css/style.css">
	<link rel="stylesheet" media="screen,projection" href="css/welcome.css">
	<link rel="stylesheet" media="screen,projection" href="css/dashboard.css">
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="js/knockout.js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery.cookie.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/bootstrap-modal.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/welcome.js"></script>
	<script type="text/javascript" src="js/dashboard.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div id="dashboard" class="container drop-shadow hide">


	<div class="navbar" id="custom_nav">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" id="logo-teeny" href="/">coral</a>
				<ul class="nav">
					<li><a id="settings-button" href=""><i class="big-cog-icon"></i></a></li>
					<li><a href=""><i class="big-question-icon"></i></a></li>
					<li><a href="/logout"><i class="big-power-icon"></i></a></li>
				</ul>
			</div>
		</div>
	</div>

	<h2 id="account-name">Company Name</h2>

	<div class="tab-pane active" id="revenue"> ...  </div>


	<div class="ui-accordion">

		<h3 class="ui-accordion-header"><a href="#">Basic Membership</a></h3>
		<div class="ui-accordion-content">

				<p class="plan-desc"> Charging <strong>$91</strong> every
				<strong>month</strong> with no trial period and no initial charge. <a
					class="btn" id="edit-plan-button" href="#editplan"><i
						class="icon-pencil"></i> Edit</a></p>

				<table class="table table-striped clickable-rows">

					<thead>
						<tr> <th>Name</th> <th>Status</th> </tr>
						</thead>

					<tbody>
						<tr><td><i class="icon-user"></i>
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

					</tbody>
				</table>


			</div>

		<h3 class="ui-accordion-header"><a href="#">Long-Term Membership</a></h3>
		<div class="ui-accordion-content">

				<p class="plan-desc"> Charging <strong>$399</strong> every
				<strong>3 months</strong> with no trial period and no initial charge. <a
					class="btn" id="edit-plan-button" href="#editplan"><i
						class="icon-pencil"></i> Edit</a></p>

				<table class="table table-striped clickable-rows">

					<thead>
						<tr> <th>Name</th> <th>Status</th> </tr>
						</thead>

					<tbody>
						<tr><td><i class="icon-user"></i>
								<a data-toggle="modal" href="#profileSettings">Bob Ross</a></td>

							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

						<tr><td><i class="icon-user"></i> 
								<a>Fred Rogers</a></td>
							<td><i class="icon-ok"></i> Paid</td></tr>

					</tbody>
				</table>


			</div>

		</div>


<!-- Dialog forms -->

<div class="hide" id="settings-dialog" title="Account Settings">
	<form class="well" method="post" action="/account/update" id="settings-form">
		<label>Name</label>
		<input type="text" name="name" value="Name" />
		<label>Email Address</label>
		<input type="text" name="email" value="Email" />
		<label>Account URL</label>
		<input type="text" name="url" value="Url" />
		<br /><br /><input id="save-account-settings" class="btn" name="commit" type="submit" value="Save" />
	</form>
	<br />
	<a href="" class="">Reset Password</a><br /><br />

	<a href="" class="">Remove Account</a><br /><br >
</div>

<div id="new-plan-dialog" title="Settings">
</div>

<div id="edit-plan-dialog" title="Settings">
</div>

<div class="modal hide" id="profileSettings">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>Profile Settings</h3>
	</div>
	<div class="modal-body">
		<form class="" method="post" action="/profile/create" id="new-profile-form">
			<label>Email Address</label>
			<input type="text" name="email" />
			<label>Name</label>
			<input type="text" name="name" />

			<div class="">
				<input class="btn" name="commit" type="submit" value="Save" />
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<br /><br /><a class="btn" href="">Update payment method <i class="icon-arrow-right"></i></a> 
	</div>
</div>

<div class="hide" id="new-profile-dialog" title="Add someone new">
	<form method="post" action="/profile/create" id="new-profile-form">
		<label>Email Address</label>
		<input type="text" name="email" />
		<label>Name</label>
		<input type="text" name="name" />
		<br /><br /><input class="btn" name="commit" type="submit" value="Create" />
	</form>
</div>

<a class="btn" data-toggle="modal" href="#profileSettings" >Launch Modal</a>

</div>

</body>

</html>
