
<ul class="account-nav">
	<li><i class="icon-wrench"></i>
		<a id="settings-button" rel="tooltip" title="Account Settings" href="">Settings</a>
	</li>
	<li><i class="icon-question-sign"></i>
		<a href="#" id="get-help" rel="tooltip" title="Get Help">Help</a>
	</li>
	<li><i class="icon-off"></i>
		<a id="logout-button" rel="tooltip" title="Logout" href="/logout">Logout</a>
	</li>
</ul>
