
	<div id="account">
		<div class="navbar" id="custom_nav">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" id="logo-teeny" href="/">coral</a>
					<ul class="nav">
						<li>
							<a id="settings-button" rel="tooltip" title="Account Settings" href="">
								<i class="big-cog-icon"></i></a>
						</li>
						<li>
							<a href="" id="get-help" rel="tooltip" title="Get Help">
								<i class="big-question-icon"></i></a>
							</li>
						<li>
							<a id="logout-button" rel="tooltip" title="Logout" href="/logout">
								<i class="big-power-icon"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
