
		<p>A recurring charge of <strong>$<%= "%.2f" % @plan.amount
			%></strong> every <strong><%= @plan.cycle_length %> <%= @plan.cycle_type
			%></strong> and an initial charge of <strong>$<%= "%.2f" %
			@plan.initial_charge %></strong></p>
