
	<ul id="plan-nav" class="nav nav-pills">
		<li class="dropdown">
			<a rel="tooltip" title="Select a plan" class="dropdown-toggle" data-toggle="dropdown" href="">
				<i class="icon-chevron-down"></i> <strong id="dropdown-active">All plans</strong>
			</a>
			<ul class="dropdown-menu">
			</ul>
		</li>
		<li class="hide"><a href=""><i class="icon-pencil"></i> Edit</a></li>
		<li class><a id="new-plan-button" href=""><i class="icon-plus"></i> New Plan</a></li>
	</ul>

<p class="plan-desc"></p>

<script id='plan-header-tmpl' type='text/template'>
	[[ plans.each(function(plan) { ]]
		<li><a class="dropdown-item" href="">{{ plan.get('name') }}</a></li>
	[[ }) ]]
</script>
