/*
 * Dashboard
 */


div#account {
	margin: 12px 0 0 0;
	height: 3em;
}

a.logo {
  display: block;
  margin: 22px auto;
  line-height: 0;
  font-size: 0;
  color: transparent;
  background: url("../img/coral.png") no-repeat;
  width: 196px;
  height: 126px;
	opacity: .3;
}
a.logo:hover {
	opacity: 1;
}

div.data {
	background-color: whiteSmoke;
	padding: 12px;
	margin-bottom: 3em;
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 9px 9px;
	border-radius: 0 0 9px 9px;
}

div.visualization {
	background-color: whiteSmoke;
	margin: 16px 0 26px 0;
	padding: 28px 48px 28px 48px;
	-webkit-border-radius: 9px 9px 0 0;
	-moz-border-radius: 9px 9px 0 0;
	border-radius: 9px 9px 0 0;
}

a#logo-teeny {
  line-height: 0;
  font-size: 0;
	display: block;
	height: 31px;
	width: 70px;
	background: url('../img/coral_teeny.png') no-repeat;
	margin-left: -8px;
	margin-bottom: 0;
	margin-top: 6px;
}

.account-nav {
	margin: 12px;
	list-style: none;
	float: right;
}

.account-nav li {
	display: inline;
	margin-left: 12px;
}

.account-nav li a {
	font-size: 1.2em;
	text-decoration: none;
}

.account-nav > li > a:hover {
	color: #2C3320;
}

.big-question-icon {
	display: block;
	width: 26px; height: 26px;
	background: url('../img/question-icon.png') no-repeat;
}
.big-power-icon {
	display: block;
	width: 26px; height: 26px;
	background: url('../img/power-icon.png') no-repeat;
}
.big-cog-icon {
	display: block;
	width: 26px; height: 26px;
	background: url('../img/cog-icon.png') no-repeat;
}

/*
 * Plan selection dropdown
 */

select#plan-select {
	height: 1.8em;
	width: 20em;
	font-size: 1.5em;
	background-color: white;
}

ul#plan-nav {
	font-size: 1.2em;
	border-bottom: 1px solid #DDD;
	padding-bottom: 4px;
	padding-top: 2px;
}
ul#plan-nav li a {
	padding: 0.5em;
	color: black;
}
ul#plan-nav li a:hover {
	background-color: gray;
	color: white;
}

a.view-people-button {
	background-color: gray;
}

/*
 * Row-clickable tables
 */

table.clickable-rows tr {
	cursor: pointer;
}

p.plan-desc {
	font-size: 1.1em;
}

div#more-plan-options {
	display: none;
}

p.form-error {
	color: #944E4E;
}

/*
 * Modal forms
 */

input[type="submit"], .submit-btn {
	float: left;
}

.modal-form-actions {
	border-top:1px solid #DDD;
	padding-top: 1em;
	margin-top: 1em;
}

.profile-tile {
	float: left;
	background-color: whiteSmoke;
	padding: 4px;
	margin: 4px;
	height: 2em;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px
}

.pm-list {
	list-style: none;
	height: 8em;
}

.pm-block {
	float: left;
	clear: right;
	padding: 1em;
	margin: 1em;
	background-color: whiteSmoke;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}
