/*
 * Dashboard
 */

html {
	overflow-y: scroll;
}

div#account {
	margin: 14px 0 12px 0;
}

h1#account-name {
	margin-top: 17px;
}

[class^="icon-"], [class*=" icon-"] {
	margin-top: 3px;
}

i.fish {
	display:block;
	position: absolute;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

i.fish1 {
	-webkit-animation-name: floatin-one;
	-webkit-animation-duration: 80s;
	top: 20%; right: -70px;
	width: 70px; height: 41px;
	background-image: url('../img/fishes/fish1.png');
}

i.fish-skinny {
	-webkit-animation-name: floatin-skinny;
	-webkit-animation-duration: 200s;
	-webkit-animation-delay: 200s;
	-webkit-animation-iteration-count: 2;
	top: 20%; left: -140px;
	width: 140px; height: 38px;
	background-image: url('../img/fishes/fish-skinny.png');
}

i.fish-school {
	-webkit-animation-name: floatin-school;
	-webkit-animation-duration: 60s;
	-webkit-animation-delay: 10s;
	-webkit-animation-iteration-count: 1;
	top: 40%; right: -166px;
	width: 166px; height: 130px;
	background-image: url('../img/fishes/fish-school.png');
}

i.fish-floppy {
	-webkit-animation-name: floatin-floppy;
	-webkit-animation-duration: 100s;
	-webkit-animation-delay: 100s;
	top: -100%; left: -45px;
	width: 45px; height: 34px;
	background-image: url('../img/fishes/fish-floppy.png');
}

@-webkit-keyframes floatin-one {
	from { right: -140px; }
	to { right: 100%; }
}
@-webkit-keyframes floatin-skinny {
	from { left: -140px; }
	to { left: 900%; }
}
@-webkit-keyframes floatin-floppy {
	from { left: -45px; top: -100%; }
	to { left: 200%; top: 100%;}
}
@-webkit-keyframes floatin-school {
	from { right: -166px; }
	to { right: 100%; }
}

div.data {
	background-color: rgba(245, 245, 245, 0.53);
	padding: 12px 0 12px 0;
	margin-bottom: 3em;
	-webkit-border-radius: 0 0 9px 9px;
	-moz-border-radius: 0 0 9px 9px;
	border-radius: 0 0 9px 9px;
}

div.visualization {
	background-color: rgba(245, 245, 245, 0.53);
	margin-bottom: 26px;
	padding: 28px 48px 28px 48px;
	-webkit-border-radius: 9px 9px 0 0;
	-moz-border-radius: 9px 9px 0 0;
	border-radius: 9px 9px 0 0;
	z-index: -1;
}

div.visualization h3 {
	margin-left: 28px;
	margin-bottom: 3px;
	margin-top: 0;
}

div#chart-revenue {
	width: 100%;
	height: 180px;
}

div#chart-signups {
	width: 100%;
	height: 180px;
}

a#logo-teeny {
  line-height: 0;
  font-size: 0;
	display: block;
	height: 31px;
	width: 70px;
	background: url('../img/coral_teeny.png') no-repeat;
	margin-left: -8px;
	margin-bottom: 0;
	margin-top: 6px;
}

.account-nav {
	margin: 12px;
	list-style: none;
	float: right;
}

.account-nav li a {
	font-size: 1.2em;
	padding: .8em;
	text-decoration: none;
}

.btn-group > .btn {
	padding: .8em;
}

.account-nav > li > a:hover {
	color: #2C3320;
}

.big-question-icon {
	display: block;
	width: 26px; height: 26px;
	background: url('../img/question-icon.png') no-repeat;
}
.big-power-icon {
	display: block;
	width: 26px; height: 26px;
	background: url('../img/power-icon.png') no-repeat;
}
.big-cog-icon {
	display: block;
	width: 26px; height: 26px;
	background: url('../img/cog-icon.png') no-repeat;
}

.plan-actions {
	float: left;
}

/*
 * Plan selection dropdown
 */

select#plan-select {
	height: 1.8em;
	width: 20em;
	font-size: 1.5em;
	background-color: white;
}

ul#plan-nav {
	font-size: 1em;
	border-bottom: 1px solid #DDD;
	padding-bottom: 4px;
	padding-top: 2px;
	width: 100%;
	margin-left: 8px;
}

.nav-tabs.nav-stacked > li > a {
	border: none;
	color: black;
}

.nav-tabs > .active > a, .nav-tabs > .active > a {
	font-weight: bold;
}

.nav-tabs.nav-stacked > li > a:hover {
	border: none;
}


a.view-people-button {
	background-color: gray;
}

/*
 * Row-clickable tables
 */

table.clickable-rows tr {
	cursor: pointer;
}

p.plan-desc {
	font-size: 1.1em;
}

div#more-plan-options {
	display: none;
}

/*
 * Modal forms
 */

input[type="submit"], .submit-btn {
	float: left;
}

.profile-tile {
	float: left;
	background-color: whiteSmoke;
	padding: 4px;
	margin: 4px;
	height: 2em;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px
}

.pm-list {
	list-style: none;
	height: 8em;
}

.pm-block {
	float: left;
	clear: right;
	padding: 1em;
	margin: 1em;
	background-color: whiteSmoke;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

#profiles-container {
	background-color: white;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-border-radius: 0 0 9px 9px;
	-moz-border-radius: 0 0 9px 9px;
	border-radius: 0 0 9px 9px;
	padding: 1em;
}

#plan-desc {
	padding: 1em;
}


.edit-profile {
}

#edit-plan-form {
	margin-top: 1.2em;
}

table.table tr.edit-profile {
	cursor: default;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
	background-color: white;
}

.form-horizontal .control-label {
}

.form-horizontal .controls {
}

.edit-profile-info {
	margin-right: 1em;
}

.profile-name-woot {
	margin-bottom: 1em;
}

.plus-half {
}

div#edit-account {
	padding: 1em;
	background-color: #E5F0F5;
	margin-bottom: 24px;
	margin-top: 12px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
  -webkit-box-shadow: inset 0 0 10px #aaa;
  -moz-box-shadow: inset 0 0 10px #aaa;
  box-shadow: inset 0 0 10px #aaa;
}

div#account-info {
}

#new-plan-button {
	background-color: #D9EBDC;
}
#new-plan-button:hover {
	background-color: #B9CFBD;
}

#edit-profile-form, #new-payment-method-form {
	margin: 0 1em;
}

/* Test environment notification tag */

.test-tag {
	text-align: center;
	position: fixed;
	bottom: 0; left: 0;
	background-color: #EAF7FF;
	padding: 1em 1em 0.5em 1em;

	-webkit-border-radius: 0 9px 0 0;
	-moz-border-radius: 0 9px 0 0;
	border-radius: 0 9px 0 0;

  -webkit-box-shadow: 0 0 14px 3px #aaa;
  -moz-box-shadow: 0 0 14px 3px #aaa;
  box-shadow: 0 0 14px 3px #aaa;
}

.text-tag p {
	font-size; 1.2em;
}

.info-group {
	border-right: 1px solid #DDD;
	margin-bottom: 1.2em; 
}

.info-group input {
	width: 90%;
}

#bank-account {
}

/* De-emphasized text */
.deemph {
	color: #b3b3b3;
}
