body {
	padding-top: 2em;
} 

#profile {
	margin: 1em auto 0 auto;
	background-color: whiteSmoke;
	padding: 1em;

	-webkit-border-radius: 14px 14px 0 0;
	-moz-border-radius: 14px 14px 0 0;
	border-radius: 14px 14px 0 0;

}

#profile-actions {
	list-style: none;
	padding: 1em 0 0.5em 0;
	float: right;
}

#profile-actions li {
	padding-left: 0.5em;
	float: right;
}

h2#name {
	float: left;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 0.2em;
}


.subscriptions {
	margin-top: 1em;
	padding-top: 1em;
	background-color: whiteSmoke;

	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}

.new-sub {
	margin: 0 auto;
	background-color: whiteSmoke;
	padding: 0.5em;

	-webkit-border-radius: 0 0 14px 14px;
	-moz-border-radius: 0 0 14px 14px;
	border-radius: 0 0 14px 14px;

}

.table tr {
	background-color: transparent;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
	background-color: white;
}
.table td {
	padding: 1em;
}

td#plan-name {
	font-size: 1.2em;
}


#edit-profile {
	padding-top: 1em;
	border: none;

  -webkit-box-shadow: inset 0 0 10px #aaa;
  -moz-box-shadow: inset 0 0 10px #aaa;
  box-shadow: inset 0 0 10px #aaa;

	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;

	text-align: left;
	background-color: #E5F0F5;
}

.profile-settings-col {
}

div#meta {
}

tr.new-plan-button {
	cursor: pointer;
}

tr#new-plan-form td {
	background-color: white;
}

.info-col {
	border-right: 1px solid #ddd;
}
