/*
 * Layout styles
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
  height: 100%;
}

body {
  background-color: #BDD9E6;
  /* background: url('../img/texture.png'); */
	font-family: 'Open Sans', sans-serif;
}

div#footer {
	position: fixed;
	bottom: 0; /* could be negative if we want overlap */
	left: 0;
	height: 334px;
	width: 100%;
	background:url('../img/bg-seascape.png') bottom center repeat-x;
	z-index: -99;
	opacity: 0.8;
}

/*
 * Bootstrap tweaks
 */

div.form-actions {
	margin-bottom: 0;
	padding-bottom: 0;
}

/*
 * Generic useful classes
 */

.centered {
  text-align: center;
}

.drop-shadow {
  -webkit-box-shadow: 0 0 14px 3px #aaa;
  -moz-box-shadow: 0 0 14px 3px #aaa;
  box-shadow: 0 0 14px 3px #aaa;
}

.sunk {
  -webkit-box-shadow: inset 0 0 14px #aaa;
  -moz-box-shadow: inset 0 0 14px #aaa;
  box-shadow: inset 0 0 14px #aaa;
	padding: 1em;
	width: 90%
	margin: 0 auto;
}
