/*
 * Layout styles
 */

html, body {
  height: 100%;
}

body {
  background-color: #DDE2EE;
  background: url('../img/texture.png');
}

div#dashboard {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-right: 12px;
	padding-left: 12px;
	padding-bottom: 18px;
	background-color: rgba(255,255,255,0.6);
	min-height: 100%;
	position: relative;
}

/*
 * Bootstrap tweaks
 */

div.form-actions {
	margin-bottom: 0;
	padding-bottom: 0;
}

/*
 * Generic useful classes
 */

.centered {
  text-align: center;
}

.drop-shadow {
  -webkit-box-shadow: 0 0 7px 3px #BBB;
  -moz-box-shadow: 0 0 7px 3px #BBB;
  box-shadow: 0 0 7px 3px #BBB;
}
