/*
 * Layout styles
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
  height: 100%;
}

body {
  background-color: #D2DBDF;
  /* background: url('../img/texture.png'); */
	font-family: 'Open Sans', sans-serif;
}

/*
 * Bootstrap tweaks
 */

div.form-actions {
	margin-bottom: 0;
	padding-bottom: 0;
}

/*
 * Generic useful classes
 */

.centered {
  text-align: center;
}

.drop-shadow {
  -webkit-box-shadow: 0 0 7px 3px #BBB;
  -moz-box-shadow: 0 0 7px 3px #BBB;
  box-shadow: 0 0 7px 3px #BBB;
}
