
<script id='charge-table-tmpl' type='text/template' class='hide'>
	[[ if(!charges.isEmpty()) { ]]
		<table id="charges-table" class="table table-striped clickable-rows">
			<thead>
				<tr>
					<th>Payment History</th><th></th>
				</tr>
			</thead>
			<tbody>
				[[ charges.each(function(charge) { ]]
					<tr id="{{charge.id}}" class="edit-charge-button">
						<td class="charge-table-name">{{ charge.get('profile') }} was charged ${{ Number(charge.get('amount')).toFixed(2) }} for {{ charge.get('name') }} ({{ charge.get('plan_name') }})</td>
						<td class="charge-table-state">{{ charge.get('state') }}</td>
					</tr>
				[[ }); ]]
			<tr>
				<td id="new-charge-button">
				</td><td></td>
			</tr>
			</tbody>
	</table>
	[[ } else { ]]
		<p>
			<em>No payments yet.</em>
			<a class="" id="new-charge-button" href="#"> New Charge</a>
		</p>
	[[ } ]]
</script>
