<script id='edit-profile-tmpl' type='text/template' class='hide'>
	<div class="tabbable">
		<ul class="nav nav-tabs">
			<h3 style="float:left;padding-right:1em;">{{name}}</h3>
			<li class="active"><a href="#edit-profile-info" data-toggle="tab"><i class="icon-user"></i> Edit Info</a></li>
			<li><a href="#edit-profile-payments" data-toggle="tab"><i class="icon-lock"></i> Payments</a></li>
			<button type="button" class="close" data-dismiss="modal" style="float:right">x</button>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="edit-profile-info">
				<p id="edit-profile-error"></p>
				<form method="post" action="/profiles" id="edit-profile-form">
					<label>Name</label>
					<input id="edit-profile-name" type="text" name="name" value="{{name}}"/> 
					<label>Email</label>
					<input id="edit-profile-email" type="text" name="email" value="{{email}}"/>
					<input id="edit-profile-id" type="hidden" name="short_id" value="{{id}}" />

					<div style="border-top:1px solid #DDD; padding-top: 1em; margin-top: 1em;">
						<input class="btn" id="edit-profile-submit" name="commit" type="submit" value="Save" />
					</div>
				</form>
			</div>

			<div class="tab-pane" id="edit-profile-payments">
				<div class="well">
					<p>Subscribed to: {{subscription_names || 'none'}}
				</div>
				[[ if(!_.isEmpty(payment_methods)) { ]]
					<p>Paying with "<em>{{_.first(payment_methods).name}}</em>" ({{_.first(payment_methods).pay_type}}) 
					<a class="btn btn-success" id="new-charge-button" href="#"><strong>$</strong> Charge</a></p>
				[[ } ]]

			<div style="border-bottom:1px solid #DDD; margin-bottom: 1em">
				<h4> New Payment Method</h4>
			</div>
				<form method="post" id="new-bank-account-form" class="form-horizontal">

					<div class="control-group"> <label class="control-label">Type</label>
						<div class="controls"> <select><option>Card</option><option>E-check</option></select></div>
					</div>

					<div style="border-top:1px solid #DDD; padding-top: 1em; margin-top: 1em;">
						<input class="btn" id="new-payment-method-submit" name="commit" type="submit" value="Save" />
					</div>
				</form>
			</div>

		</div>

	</div>

</script>
