
<script id='plan-header-tmpl' type='text/template' class='hide'>
			[[ if(_.isEmpty(plans)) { ]]
				<li><a href="#" id="new-plan-button">Create a plan</a></li>
			[[ } else { ]]
				[[ if($('.active-plan-id').attr('id') != '') { ]]
					<li><a class="dropdown-item" href="#" id='all-plans-select'>All plans</a></li>
				[[ } ]]
				[[ _.each(plans, function(plan) { ]]
					<li><a id="{{plan.id}}" class="dropdown-item" href="#">{{ plan.get('name') }}</a></li>
				[[ }) ]]
			[[ } ]]
</script>

<script id='plan-desc-tmpl' type='text/template' class='hide'>
	[[ if(!(plan === 'all')) { ]]
		Charging <strong>${{Number(plan.get('amount')).toFixed(2)}}</strong>
		every <strong>{{plan.get('cycle')}}</strong>
		[[if(plan.get('initial_charge') != 0) { ]]
			with an initial charge of <strong>${{Number(plan.get('initial_charge')).toFixed(2)}}</strong>
		[[ } ]]
	[[ } ]]
</script>

<ul id="plan-nav" class="nav nav-pills">
	<li class="dropdown">
		<a rel="tooltip" title="Select a plan" class="dropdown-toggle auto-tooltip-top" data-toggle="dropdown" href="">
			<i class="icon-chevron-down"></i> <strong id="dropdown-active"> All plans</strong><span class='active-plan-id' id=""></span>
		</a>
		<ul class="dropdown-menu">
			<!-- plan-header-tmpl goes here -->
		</ul>
	</li>
	<li><a href="#" class='plan-action-btn auto-tooltip-top' id='edit-plan-button' title='Edit Plan'><i class="icon-pencil"></i></a></li>
	<li><a href="#" class='plan-action-btn auto-tooltip-top share-plan-button' title='Share Plan'><i class="icon-globe"></i></a></li>
	<a style="float:right;" id="new-plan-button" class='btn btn-info' href=""><i class="icon-plus icon-white"></i> New Plan</a>
</ul>

<p class="plan-desc"><!-- plan-desc-tmpl goes here --></p>
