<script id='profile-table-tmpl' type='text/template' class='hide'>
	[[ if(!profiles.isEmpty()) { ]]
		<table id="profiles-table" class="table table-striped clickable-rows">
			<tbody>
				[[ profiles.each(function(profile) { ]]
					<tr id="{{profile.id}}" class="edit-profile-button">
						<td class="profile-table-name-email"><strong>{{ profile.get('name') }}</strong> {{ profile.get('email') }}</td>
						<td class="profile-table-subs">{{ profile.get('subscription_names') }}</td>
						<td class="profile-table-state">{{ profile.get('state') }}</td></tr>
				[[ }); ]]
			<tr>
				<td id="new-profile-button">
					<a class="" id="new-profile-button" href=""><i class="icon-plus"></i> Add Someone</a>
				</td><td></td><td></td>
			</tr>
			</tbody>
	</table>
	[[ } else { ]]
		<p>
			<em>No subscribers yet.</em>
			<a class="" id="new-profile-button" href=""> Add Someone</a>
		</p>
	[[ } ]]
</script>
