<script id='profile-table-tmpl' type='text/template' class='hide'>
	[[ if(!_.isEmpty(profiles)) { ]]
		<table id="profiles-table" class="table table-striped clickable-rows">
			<thead>
				<tr>
					<th>People</th>
				</tr>
			</thead>
			<tbody>
				[[ _.each(profiles, function(profile) { ]]
					<tr id="{{profile.id}}" class="edit-profile-button">
						<td class="profile-table-name-email">{{ profile.name ? profile.name + ' (' + profile.email + ')' : profile.email }}</td>

						<td class="profile-table-subs">{{profile.subscription_names ? profile.subscription_names : '' }}</td>
				[[ }); ]]
			<tr class="share-plan-button">
				<td>
					<a href="#"><i class="icon-plus"></i> Invite People</a>
				</td><td></td>
			</tr>
			</tbody>
	</table>
	[[ } else { ]]
		<p>
			<em>No subscribers yet.</em>
			<a class="share-plan-button" href="#"><i class="icon-plus"></i> Invite People</a>
		</p>
	[[ } ]]
</script>
