<script id='profile-table-tmpl' type='text/template' class='hide'>
	[[ if(!_.isEmpty(profiles)) { ]]
	<table id="profiles-table" class="table table-striped clickable-rows">
			<thead> <tr> <th></th> </tr> </thead>
			<tbody>
				[[ _.each(profiles, function(profile) { ]]
					<tr id="{{profile.id}}" class="edit-profile-button">
						<td class="profile-table-name-email">{{ profile.name ? profile.name + ' (' + profile.email + ')' : profile.email }} &#x2012; <em>{{profile.state}}</em></td>

						<td class="profile-table-subs">{{profile.subscription_names ? profile.subscription_names : '' }}</td>
				[[ }); ]]
			<tr class="share-plan-button">
				<td>
				<a href="#" class='plan-action-btn auto-tooltip-top share-plan-button' title='Share Plan'><i class="icon-globe"></i> Invite More People</a>
				</td><td></td>
			</tr>
			</tbody>
	[[ } else { ]]
		<p>
			<em>No subscribers yet.</em>
			<a class="share-plan-button" href="#"><i class="icon-globe"></i> Invite People</a>
		</p>
	</table>
	[[ } ]]
</script>
