<script id='edit-profile-tmpl' type='text/template' class='hide'>

	<div class='row-fluid'>
		<div class='span8'>
			<h3 id='profile-name' style='padding-right:0.5em;float:left;'>{{name}}</h3>
		</div>
		<div class='span4'>
			<a style='float:right' class='btn btn-medium'> Reset Password</a>
		</div>
	</div>

	<hr>

	<div id='edit-profile'>

		<div class='row'>
			<div class='span8'>
				<p>Has paid <strong>${{format_cents(total_paid)}}</strong> since <strong>{{created_at}}</strong>.

				Belongs to {{ _.reduce(_subscriptions, function(ss,s) { return ('<strong>' + s.plan_name + '</strong>' + ' (paying $' + format_cents(s.plan_amount) + ' every ' + s.plan_cycle  + '), '+ ss);},'').slice(0,-2) }}
			</div>
		</div>

		<hr>


		<div class='row'>
			<div class='span8'>
				<div class='alert alert-error hide'></div>
				<div class='alert alert-success hide'></div>
			</div>
		</div> <!-- end div.row -->

		<div class='row-fluid'>

			<div class='info-group span4'>
				<p class='field-name'>
					<strong>Name</strong> &nbsp; &nbsp;
					<a class='label edit-field-btn' href='#'>
					<i class='icon-pencil icon-white'></i> edit</a>
					<small class='save-info hide'>Hit enter to save |
						<a href='#' class='cancel-edit'>Cancel.</a></small>
					<small class='save-status hide'><em>Saving...</em></small>
				</p>
				<p class='profile-field'>{{name}}</p>
				<div class='field-controls hide'>
					<input type='text' value='{{name}}' name='name' />
				</div>
			</div><!-- end div.info-group -->

			<div class='info-group span4'>
				<p class='field-name'>
					<strong>Email</strong> &nbsp; &nbsp;
					<a class='label edit-field-btn' href='#'>
					<i class='icon-pencil icon-white'></i> edit</a>
					<small class='save-info hide'>Hit enter to save |
						<a href='#' class='cancel-edit'>Cancel.</a></small>
					<small class='save-status hide'><em>Saving...</em></small>
				</p>
				<p class='profile-field'>{{email}}</p>
				<div class='field-controls hide'>
					<input type='text' value='{{email}}' name='email' />
				</div>
			</div><!-- end div.info-group -->

			<div class='info-group span4'>
				<p class='field-name'>
					<strong>Phone</strong> &nbsp; &nbsp;
					<a class='label edit-field-btn' href='#'>
					<i class='icon-pencil icon-white'></i> edit</a>
					<small class='save-info hide'>Hit enter to save |
						<a href='#' class='cancel-edit'>Cancel.</a></small>
					<small class='save-status hide'><em>Saving...</em></small>
				</p>
				<p class='profile-field'>{{phone}}</p>
				<div class='field-controls hide'>
					<input type='text' value='{{phone}}' name='phone' />
				</div>
			</div><!-- end div.info-group -->

		</div>
		<hr>
		<div class='row-fluid'>
			<div class='span12'>
				<p><strong>Notes</strong> &nbsp; &nbsp;
					<a id='profile-scratchpad-submit' class='btn btn-small' href='#'>
						<i class='icon-pencil'></i> Save</a>
					<span class='save-status hide'><small><em>Saving...</em></small></span>
				</p>
				<textarea style='height:3em;width:95%' placeholder='Scratchpad: any additional details for this subscriber' id='profile-scratchpad'>{{info}}</textarea>
			</div>
		</div>
	</div>

	<hr>

<div class='row-fluid'>

	<div class='span12'>
		<h3>Subscriptions</h3>
	</div>

</div>

<div class='row-fluid' style='margin-top: 0.5em'>
	<div class='span12'>
		<table class='table table-striped' id='subscriptions-table'>
			<tbody>
				[[ _.each(_subscriptions, function(s) { ]]
				<tr data-id='{{s.id}}'>
					<td style='font-size:1.1em'>{{s.plan_name}}</td>
					<td>{{s.state}}</td>
					<td>Since {{s.created_at}}</td>
					[[ if(s.payment_method) { ]]
						<td>
							<a class='btn'>New Charge</a>
						</td>
					[[ } else { ]]
						<td>
							<a id='new-pm-btn' class='btn'>Add Payment Method</a>
						</td>
					[[ } ]]
				</tr>
				[[ }) ]]
			</tbody>
		</table>
	</div><!-- end div.span12 -->
</div><!-- end div.row-fluid -->

<div class='row-fluid'>
	<div class='span12'>
		<h3>Payment Methods</h3>
	</div>
</div>

<div class='row-fluid'>
	<div class='span12'>
		<table class='table table-striped'>
			[[ _.each(_payment_methods, function(pm) { ]]
				<tr data-id='{{pm.id}}'>
					<td>
						{{pm.name}}
					</td>
					<td>
						<a class='new-charge-btn btn btn-success btn-small'><b>$</b> Charge</a>
					</td>
					<td>
						<a id='remove-pm-btn' class='btn btn-danger btn-small'><i class='icon-remove icon-white'></i> Remove</a>
					</td>
				</tr>
			[[ }) ]]
		<tr>
			<td>
				<a class='btn btn-small' href='#' id='new-pm-btn'> <i class='icon-plus'></i>New Payment Method</a>
			</td><td></td><td></td>
		</tr>
		</table>
	</div>
</div>

<div class='row-fluid'>
	<div class='span12'>
		<h3>Payment History</h3>
	</div>
</div>
<div class='row-fluid' style='margin-top: 0.5em'>
	<div class='span12'>
		<table class='table table-striped' style='padding:1em;'>
				[[ _.each(_charges, function(c) { ]]
				<tr data-id='{{c.id}}'>
					<td>{{c.name}}</td>
					<td>${{format_cents(c.amount)}}</td>
					<td>{{c.pm_name}}</td>
					<td><strong>{{c.state}}</strong></td>
					<td>{{c.created_at}}</td>
					<td>
						[[ if (c.state!='Voided') { ]]
							<a class='btn btn-small remove-charge-btn'>Void</a>
						[[ } ]]
					</td>
				</tr>
				[[ }) ]]
		</table>
	</div>
</div>

<%= erb :'forms/new_charge' %>

<%= erb :'forms/new_payment_method' %>

<!-- Removal modals -->

</script> <!-- end script#edit-profile-tmpl -->
