<script id='edit-account-form-tmpl' type='text/template' class='hide'>

	<a id='close-account-settings' href='#' style='float:right;'><i class='icon-remove'></i> Close</a>

	<h3>Account Settings</h3>

	<div style='clear:both;height:2.2em;' class='hline'></div>

	<div class='alert alert-error hide'></div>
	<div class='alert alert-success hide'></div>

	<form id="edit-account-form" class="well form-horizontal" style='float:left'>

		<h3>Info</h3>

		<div class='control-group'>
			<label class='control-label'>Name</label>
			<div class='controls'>
				<input type='text' value='{{name}}' name='name'/>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label'>Email</label>
			<div class='controls'>
				<input type='text' value='{{email}}' name='email'/>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label'>Phone Number</label>
			<div class='controls'>
				<input type='text' value='{{phone_number}}' name='phone_number'/>
			</div>
		</div>

		<div class='modal-form-actions'>
			<button id='edit-account-submit' class='btn'>Save</button>
		</div>

	</form>


	<div id='bank-account' class='well' style='margin-left:1em;float:left'>
	<h3>Bank Account</h3>
	[[ if(!_.isEmpty(_bank_account)) { ]]
		<table class='table' style='margin:1em auto 2em auto;'>
			<tbody>
				<tr>
					<td><strong>{{_bank_account.bank_name}}</strong></td>
					<td>*{{_bank_account.last_four}}</td>
					<td><a id='remove-bank-account-btn' class='btn'><i class='icon-remove'></i> Remove</a></td>
				</tr>
				<tr>
					<td><a id='new-bank-account-btn' class='btn'><i class='icon-plus'></i> New Bank Account</a></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	[[ } else {]]
		<p>You do not yet have a bank account associated with Coral.</p>
		<a id='new-bank-account-btn' class='btn'><i class='icon icon-plus'></i> Add bank account</a>	
	[[ } ]]

		<form id="bank-account-form" class="hide form-horizontal {{ !_.isEmpty(_bank_account) ? 'hide' : '' }}" style='float:left'>

			<div class="control-group"> <label class="control-label">Name</label>
				<div class="controls"> <input type="text" name="name" value='{{name}}' /><span class='help-block'>The bank account holder's name<span></div>
			</div>

			<div class="control-group"> <label class="control-label">Account Number</label>
				<div class="controls"> <input type="text" name="account_number" /></div>
			</div>

			<div class="control-group">
				<label class="control-label">Routing Number</label>
				<div class="controls"> <input type="text" name="bank_code" />
				<span class='help-block'>The 9-digit number found near the bottom left of your checks</span> </div>
			</div>

			<div class='modal-form-actions'>
				<button id='bank-account-submit' class='btn'>Save</button>
			</div>

		</form>
	</div>

	<div class='hline'></div>

<div class='modal hide' id='remove-ba-modal'>
	<div class='modal-body'>
		<p>Are you sure you wish to remove this bank account? Your transaction history will remain intact.</p>

		<p>
		<a id='remove-bank-account-submit' class='btn btn-danger'><i class='icon-remove icon-white'></i> Remove</a>
		<a class='btn' data-dismiss='modal'>Cancel</a>
		</p>
	</div>
</div>

</script>
