<script id='edit-profile-tmpl' type='text/template' class='hide'>

	<h3 style='padding:0.5em;float:left;'>{{name}}</h3>

	<a id='edit-profile-button' class='btn' style='float:left;margin-top:0.6em;'><i class='icon-pencil'></i> Info</a>
	&nbsp;
	<a id='new-pm-button' class='btn' href="#" style='margin-top:0.6em;'><i class='icon-plus'></i> Payment Method</a>

	<div class='hline' style='clear:left;'></div>

	<form id='new-payment-method-form' class='form-horizontal hide'>
		<p id='new-payment-method-error' class='form-error'></p>
		<div class='control-group'>
			<div class='controls'>
				<select class='new-payment-method-type' name='pay_type'>
					<option id='new-credit-card'>Credit Card</option>
					<option id='new-echeck'>E-check</option>
				</select>
			</div>
		</div>

		<div class='credit-card-selected'>
			<div class='control-group'>
				<label class='control-label'>Card Number</label>
				<div class='controls'>
					<input id="" type="text" name="cc_number" value=""/>
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>Expiration</label>
				<div class='controls'>
					<input id="" type="text" name="expiration" value=""/>
				</div>
			</div>
		</div>

		<div class='echeck-selected hide'>
			<div class='control-group'>
				<label class='control-label'>Account Number</label>
				<div class='controls'>
						<input id="" type="text" name="acct_number" value=""/>
				</div>
			</div>
		</div>

		<div class="modal-form-actions">
			<button id='new-pm-submit' class='btn'>Save</button> &nbsp;
			<button id='cancel-new-pm' class='btn'>Cancel</button>
			<img id='new-pm-loader' class='hide' src='img/ajax-loader.gif' />
		</div>
	</form>

	<form id='edit-profile-form' class='hide form-horizontal'>
		<p id="edit-profile-error"></p>
		<div class='control-group'>
			<label class='control-label'>Name</label>
			<div class='controls'>
				<input id="edit-profile-name" type="text" name="name" value="{{name}}"/>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label'>Email</label>
			<div class='controls'>
				<input id="edit-profile-email" type="text" name="email" value="{{email}}"/>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label'>Extra Info</label>
			<div class='controls'>
				<textarea name='info' id="edit-profile-info" placeholder="Any additional details for this subscriber" style="height:6em;">{{info}}</textarea>
			</div>
		</div>

		<div class='modal-form-actions'>
			<button id='edit-profile-submit' class='btn'>Save</button> &nbsp;
			<button id='cancel-edit-profile' class='btn'>Cancel</button>
			<img id='edit-profile-loader' class='hide' src='img/ajax-loader.gif' />
		</div>

	</form>

	[[ if(!_.isEmpty(_payment_methods)) { ]]
		<h4 style='padding-left:0.5em;'>Payment Methods</h4>
		[[ _.each(_payment_methods, function(p) { ]]
			<div class='pm-block'>
				<p>{{p.name}}</p>
				<p>
					<a href='#' class='unemph remove-pm-button btn' title='remove' data-id='{{p.id}}'><i class='icon-remove'></i> remove</a>
					<a href='#' class='unemph new-charge-button btn' data-id='{{p.id}}'><strong style='color:black'>$</strong> charge</a>
				</p>
		</div>
		[[ }); ]]
	[[ } ]]


	<h4 style='padding:0.5em;clear:left;'>Subscriptions</h4>
	[[ _.each(_subscriptions, function(s) { ]]
		<div class='pm-block'>
			<p><strong>{{s.plan_name}}</strong> <br />
			Invited {{s.created_at}}</td>
			</p>
		</div>
	[[ }) ]]

	[[ if(!_.isEmpty(_charges)) { ]]
		<h4 style='padding:0.5em;'>Payments</h4>
		<table class='table' style='padding:1em;'>
			[[ _.each(_charges, function(c) { ]]
				<td>{{c.name}}</td>
				<td>{{c.amount}}</td>
				<td>{{c.state}}</td>
			[[ }) ]]
			<tr>
			</tr>
		</table>
	[[ } ]]

	<div style='padding-left:0.5em'>
		<h4 style='clear:left'> Payment History</h4>
		<table class='table table-stribed clickable-rows'>
			<thead><th></th></thead>
			<tbody>
				[[if(_.isEmpty(_charges)) { ]]
					<p><em>No charges yet</em></p>
				[[ } else { ]]
					[[_.each(_charges, function(c) { ]]
						<tr class='edit-charge-button' data-id="{{ c.id }}">
							<td>{{ c.name }}</td>
							<td>{{ c._payment_method }}</td>
							<td>${{ c.amount }}</td>
							<td>{{ c.state }}</td>
							<td>{{ c.created_at }}</td>
						</tr>
					[[ }); ]]
				[[ } ]]
			</tbody>
		</table>
	</div>

</script>

<div id='remove-pm-modal' class='modal hide'>
	<div class='modal-header'>
		<h3>Removing payment method</h3>
	</div>
	<div class='modal-body'>
		<p>Are you sure you wish to do this? Note: the payment history will remain intact</p>
		<div class='modal-form-actions'>
			<a class='btn btn-danger' href='#' id='remove-pm-submit'>Remove</a>
			&nbsp; <a href='#' data-dismiss='modal'>Cancel</a>
		</div>
	</div>
</div>

<script id='remove-charge-tmpl' type='text/template' class='hide'>
	<h4>Removing charge</h4>
	<p>Are you sure you wish to cancel this charge?</p>
	<div class='modal-form-actions'>
		<a class='btn btn-danger' href='#' id='remove-charge-submit'>Remove</a>
		<a style='float:right' href='#' class='back-to-profile btn'>Back</a>
	</div>
</script>

<script id='void-charge-tmpl' type='text/template' class='hide'>
	<h4>Void charge</h4>
	<p>Are you sure you wish to void this charge? The funds will be removed from escrow and transferred to the subscriber.</p>
	<div class='modal-form-actions'>
		<a class='btn btn-danger' href='#' id='void-charge-submit'>Void</a>
		<a style='float:right' href='#' class='back-to-profile btn'>Back</a>
	</div>
</script>
