<script id='edit-account-form-tmpl' type='text/template' class='hide'>

	<h3>Info</h3>
	<div class='hline'></div>

	<div class='alert alert-error hide' id="edit-account-error"></div>
	<form method="post" action="/account/update" id="edit-account-form" class="form-horizontal">
		<div class="control-group">
			<label class="control-label">Account Name</label>
			<div class="controls"><input class='account-input' type="text" name="name" value="{{name}}" /></div>
		</div>

		<div class="control-group">
			<label class="control-label">Email Address</label>
			<div class="controls"><input class='account-input' type="text" name="email" value="{{email}}" /></div>
		</div>

	</form>

	<h3 style='clear:left'>Bank Account</h3>

	[[ if(!_.isEmpty(_bank_account)) { ]]
		<table class='table' style='margin:1em auto 2em auto;'>
			<tbody>
				<tr>
					<td><strong>{{_bank_account.bank_name}}</strong></td>
					<td>{{_bank_account.name}}</td>
					<td>*{{_bank_account.last_four}}</td>
					<td><a id='remove-bank-account-btn' class='btn'><i class='icon-remove'></i> Remove</a></td>
				</tr>
				<tr>
					<td><a id='new-bank-account-btn' class='btn'><i class='icon-plus'></i> New Bank Account</a></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	[[ } else { ]]
	<div class='hline'></div>
		<p> You do not yet have a bank account associated with Coral. In order to accept payments, you need to enter your bank account information below</p>
	[[ } ]]

	<form id="new-bank-account-form" class="form-horizontal {{ !_.isEmpty(_bank_account) ? 'hide' : '' }}">

		<div class='alert alert-error hide'>
		</div>

		<div class='control-group'>
			<label class='control-label'>Name</label>
			<div class='controls'>
				<input type='text' value='{{name}}' name='name'/>
				<span class='help-block'>The name of the person associated with this bank account</span>
			</div>
		</div>

		<div class="control-group"> <label class="control-label">Account Number</label>
			<div class="controls"> <input type="text" name="account_number" /></div>
		</div>

		<div class="control-group">
			<label class="control-label">Routing Number</label>
			<div class="controls"> <input type="text" name="bank_code" />
			<span class='help-block'>The 9-digit number found near the bottom left of your checks</span> </div>
		</div>

		<div class='modal-form-actions'>
			<input class="btn" id="new-bank-account-submit" name="commit" type="submit" value="Save" />
		</div>
	</form>

<div class='modal hide' id='remove-ba-modal'>
	<div class='modal-body'>
		<p>Are you sure you wish to remove this bank account? Your transaction history will remain intact.</p>

		<p>
		<a id='remove-bank-account-submit' class='btn btn-danger'><i class='icon-remove icon-white'></i> Remove</a>
		<a class='btn' data-dismiss='modal'>Cancel</a>
		</p>
	</div>
</div>

</script>
