<script id='plan-edit-tmpl' type='text/template' class='hide'>

	<p id='edit-plan-error' class='form-error'></p>

	<form class='form-horizontal' id='edit-plan-form'>

		<div class='control-group'>
			<label class='control-label'>Name</label>
			<div class='controls'>
				<input type='text' name='name' value='{{ plan.get("name") }}' /> 
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label'>Recurring charge of</label>
			<div class='controls'>
				<div class='input-prepend'>
					<span class='add-on'>$</span>
					<input type='text' name='amount' style='width:4em;' value='{{ plan.get("amount") }}'/>
				</div>
				<span>&nbsp; every &nbsp;</span>
				<select style='width:8em;' name='cycle'>
					<option>{{ plan.get("cycle") }}</option>
					<option>1 month</option>
					<option>2 weeks</option>
					<option>2 months</option>
					<option>3 months</option>
					<option>6 months</option>
					<option>1 year</option>
				</select>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label'>Initial charge</label>
			<div class='controls'>
				<div class='input-prepend'>
					<span class='add-on'>$</span>
					<input type='text' name='initial_charge' style='width:4em;' value='{{ plan.get("initial_charge") }}' />
				</div>
			</div>
		</div>

		<div class='modal-form-actions'>
			<input id='edit-plan-submit' class='btn' name='commit' type='submit' value='Save' />
		</div>
	</form>
</script>
