<script id='edit-account-form-tmpl' type='text/template' class='hide'>
	<p id="edit-account-error"></p>

	<form method="post" action="/account/update" id="edit-account-form">
		<label>Name</label>
		<input type="text" name="name" value="{{name}}" style="width:30em"/>
		<label>Email Address</label>
		<input type="text" name="email" value="{{email}}" />
	</form>
	<p>Bank account: {{bank_name || 'none'}}
		<a class="btn btn-success" id="new-bank-account-button"><strong>$</strong> {{bank_name ? 'Change' : 'Add'}} Account</a>
	</p>

</script>
