<script id='edit-profile-tmpl' type='text/template' class='hide'>

	<h3 id='profile-name' style='padding-right:0.5em;float:left;'>{{name}}</h3>

	<!-- XXX TRASH <a id='new-pm-button' class='btn' href="#" style='margin-top:0.6em;'><i class='icon-plus'></i> Payment History</a> -->

	<hr>

	<div id='edit-profile'>
		<div class='row'>
			<div class='span8'>
				<div class='alert alert-error hide'></div><div class='alert alert-success hide'></div>
			</div>
		</div>
		<div class='row'>
			<div class='info-group span2'>
				<strong>Name</strong> &nbsp;  &nbsp; &nbsp; <a class='label edit-profile-field-btn' href='#'><i class='icon-pencil icon-white'></i> edit</a> <br /><br />
				<span class='profile-field'>{{name}}</span>

				<div class='field-controls hide'>
					<input type='text' class='input-medium' value='{{name}}' name='name' />
					<p><small>Hit enter to save | <a href='#' class='cancel-edit'>Cancel.</a></small></p>
				</div>

			</div>
			<div class='info-group span2'>
				<strong>Email</strong> &nbsp;  &nbsp; &nbsp; <a class='label edit-profile-field-btn' href='#'><i class='icon-pencil icon-white'></i> edit</a> <br /><br />

				<span class='profile-field'>{{email}}</span>

				<div class='field-controls hide'>
					<input type='text' value='{{email}}' name='email' class='input-medium' />
					<p><small>Hit enter to save | <a href='#' class='cancel-edit'>Cancel.</a></small></p>
				</div>

			</div>
			<div class='span3'>
				<strong>Phone</strong> &nbsp;  &nbsp; &nbsp; <a class='label edit-profile-field-btn' href='#'><i class='icon-pencil icon-white'></i> edit</a> <br /><br />

				<span class='profile-field'>{{phone}}</span>

				<div class='field-controls hide'>
					<input type='text' value='{{phone}}' name='phone' />
					<p><small>Hit enter to save | <a href='#' class='cancel-edit'>Cancel.</a></small></p>
				</div>

			</div>
		</div>
		<hr>
		<div class='row'>
			<div class='span7'>
				<textarea style='height:3em;width:100%' placeholder='Scratchpad: any additional details for this subscriber' id='profile-scratchpad'>{{info}}</textarea>
			</div>
		</div>
	</div>

	<hr>

	<form id='edit-profile-form' class='form-horizontal hide'>
		<p id="edit-profile-error"></p>
		<div class='control-group'>
			<label class='control-label'>Name</label>
			<div class='controls'>
				<input id="edit-profile-name" type="text" name="name" value="{{name}}"/>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label'>Email</label>
			<div class='controls'>
				<input id="edit-profile-email" type="text" name="email" value="{{email}}"/>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label'>Extra Info</label>
			<div class='controls'>
				<textarea name='info' id="edit-profile-info" placeholder="Any additional details for this subscriber" style="height:6em;">{{info}}</textarea>
			</div>
		</div>

		<div class='modal-form-actions'>
			<button id='edit-profile-submit' class='btn'>Save</button> &nbsp;
			<button id='cancel-edit-profile' class='btn'>Cancel</button>
			<img id='edit-profile-loader' class='hide' src='img/ajax-loader.gif' />
		</div>

	</form>

	<h4 style='padding:0.5em;clear:left;'>Subscriptions</h4>
		<table class='subscriptions-table table table-striped'>
			<tbody>
				[[ _.each(_subscriptions, function(s) { ]]
				<tr>
					<td style='font-size:1.1em'>{{s.plan_name}}</td>
					<td>{{s.state}}</td>
					<td>Since {{s.created_at}}</td>
					<td>
						<a id='new-pm-btn' class='btn'>Add Payment Method</a>
					</td>
					[[ if(s.payment_method) { ]]
						<td>
							<a class='btn'>New Charge</a>
						</td>
					[[ } ]]
				</tr>
				[[ }) ]]
			</tbody>
		</table>

	<form id='new-pm-form' class='form-inline hide'>

		<div class='alert alert-error hide'></div>
		<div class='alert alert-success hide'></div>

		<div style='float:left;'>
			<select class='new-payment-method-type' name='pay_type' style='width:9em;'>
				<option id='new-credit-card'>Credit Card</option>
				<option id='new-echeck'>E-check</option>
			</select>
		</div>

		<div class='credit-card-selected' style='float:left;'>

			<input id="" type="text" name="card_number" placeholder='Credit card number' class='input-medium' />

			<select name='expiration_month' style='width:6em;'>
				<option>Month</option>
				<option>01</option>
				<option>02</option>
				<option>03</option>
				<option>04</option>
				<option>05</option>
				<option>06</option>
				<option>07</option>
				<option>08</option>
				<option>09</option>
				<option>10</option>
				<option>11</option>
				<option>12</option>
			</select>
			[[ var year = (new Date).getFullYear(); ]]
			<select name='expiration_year' style='width:6em;'>
				<option>Year</option>
				[[ for(var i = year; i < year + 10; i++) { ]]
					<option>{{ i }}</option>
				[[ } ]]
			</select>

			<input id="" type="text" name="security_code" placeholder="CVV" class='input-mini' />
		</div> <!-- end div.credit-card-selected -->

		<div class='echeck-selected hide' style='float:left;'>
			<input id="" type="text" name="account_number" placeholder='Account number' />
			<input id="" type="text" name="bank_code" placeholder='Routing number'/>
		</div>

		<div style='float:left'>
			<button id='new-pm-submit' class='btn'>Save</button> &nbsp;
			<button id='cancel-new-pm' class='btn'>Cancel</button>
			<img id='new-pm-loader' class='hide' src='img/ajax-loader.gif' />
		</div>

	</form>

	[[ if(!_.isEmpty(_payment_methods) && false) { ]]
		<h4 style='padding-left:0.5em;'>Payment Methods</h4>
		[[ _.each(_payment_methods, function(p) { ]]
			<div class='pm-block'>
				<p>{{p.name}}</p>
				<p>
					<a href='#' class='unemph remove-pm-button btn' title='remove' data-id='{{p.id}}'><i class='icon-remove'></i> remove</a>
					<a href='#' class='unemph new-charge-btn btn' data-id='{{p.id}}'><strong style='color:black'>$</strong> charge</a>
				</p>
		</div>
		[[ }); ]]
	[[ } ]]



	[[ if(!_.isEmpty(_charges)) { ]]
		<h4 style='padding:0.5em;'>Payments</h4>
		<table class='table' style='padding:1em;'>
			[[ _.each(_charges, function(c) { ]]
				<td>{{c.name}}</td>
				<td>{{c.amount}}</td>
				<td>{{c.state}}</td>
			[[ }) ]]
			<tr>
			</tr>
		</table>
	[[ } ]]

	<div style='padding-left:0.5em' class='hide'>
		<h4 style='clear:left'> Payment History</h4>
		<table class='table table-stribed clickable-rows'>
			<thead><th></th></thead>
			<tbody>
				[[if(_.isEmpty(_charges)) { ]]
					<p><em>No charges yet</em></p>
				[[ } else { ]]
					[[_.each(_charges, function(c) { ]]
						<tr class='edit-charge-button' data-id="{{ c.id }}">
							<td>{{ c.name }}</td>
							<td>{{ c._payment_method }}</td>
							<td>${{ c.amount }}</td>
							<td>{{ c.state }}</td>
							<td>{{ c.created_at }}</td>
						</tr>
					[[ }); ]]
				[[ } ]]
			</tbody>
		</table>
	</div>

</script>

<div id='remove-pm-modal' class='modal hide'>
	<div class='modal-header'>
		<h3>Removing payment method</h3>
	</div>
	<div class='modal-body'>
		<p>Are you sure you wish to do this? Note: the payment history will remain intact</p>
		<div class='modal-form-actions'>
			<a class='btn btn-danger' href='#' id='remove-pm-submit'>Remove</a>
			&nbsp; <a href='#' data-dismiss='modal'>Cancel</a>
		</div>
	</div>
</div>

<script id='remove-charge-tmpl' type='text/template' class='hide'>
	<h4>Removing charge</h4>
	<p>Are you sure you wish to cancel this charge?</p>
	<div class='modal-form-actions'>
		<a class='btn btn-danger' href='#' id='remove-charge-submit'>Remove</a>
		<a style='float:right' href='#' class='back-to-profile btn'>Back</a>
	</div>
</script>

<script id='void-charge-tmpl' type='text/template' class='hide'>
	<h4>Void charge</h4>
	<p>Are you sure you wish to void this charge? The funds will be removed from escrow and transferred to the subscriber.</p>
	<div class='modal-form-actions'>
		<a class='btn btn-danger' href='#' id='void-charge-submit'>Void</a>
		<a style='float:right' href='#' class='back-to-profile btn'>Back</a>
	</div>
</script>
