<script id='edit-charge-tmpl' type='text/template' class='hide'>
	<h4>Charge Details</h4>
	<div class="well">
		<p><strong>Label:</strong> {{name}}</p>
		<p><strong>Created:</strong> {{created_at}}</p>
		[[ if(_plan.name) { ]]
			<p><strong>Towards:</strong> {{_plan.name}}</p>
		[[ } ]]
		<p><strong>Total amount:</strong> ${{amount}}</p>
		<p><strong>Status:</strong> {{state}} </p>
		[[ if(state == 'Pending') { ]]
			<a href="#" id="remove-charge-button" class="btn btn-warning">Cancel Charge</a>
		[[ } if(!_.isEmpty(transactions)) {]]
			<h4>Transactions</h4>
			<table id="transaction-table" class="table table-striped">
				<thead>
					<tr><th>Date</th><th>Action</th><th>Amount</th><th>Successful?</th><th>Message</th></tr>
				</thead>
				<tbody>
					[[ _.each(transactions, function(t) { ]]
						<tr>
							<td>{{t.date}}</td>
							<td>{{t.action}}</td>
							<td>${{Number(t.amount).toFixed(2)}}</td>
							<td>{{t.successful}}</td>
							<td>{{t.message}}</td>
						</tr>
					[[ }); ]]
				</tbody>
			</table>

			<a href="#" id="void-charge-button" class="btn btn-danger"><i class="icon-remove icon-white"></i> Void</a>
		[[ } ]]
	</div>

	<p id="edit-charge-error"></p>
	[[ if(state != 'Paid') { ]]
		<form method="post" action="/charges" id="edit-charge-form" class='form-horizontal'>

			<div class='control-group'>
				<label class='control-label'>Charge Label</label>
				<div class='controls'>
					<input id="charge-name" type="text" name="name" value="{{name}}"/> 
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>Amount</label>
				<div class='controls'>
					<div class="input-prepend">
						<span class="add-on">$</span>
						<input id="charge-amount" type="text" name="amount" style="width:4em;" value="{{amount}}" /> 
					</div>
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>Pay Date</label>
				<div class='controls'>
					<input id="edit-charge-due-date" type="date" name="due_date" value="{{due_date}}" /> 
				</div>
			</div>

			<div class='modal-form-actions'>
				<input class="btn" id="edit-charge-submit" name="commit" type="submit" value="Save" />
				<a class='btn back-to-profile' style='float:right'>Back</a>
			</div>

		</form>
	[[ } else {]]
		<div class='modal-form-actions'>
			<a class='btn back-to-profile' style='float:right'>Back</a>
		</div>
	[[ } ]]
</script>
