
<script id='new-sub-tmpl' type='text/template' class='hide'>
	<h3>Subscription</h3>
	<form id='new-payment-method-form'>
		<label>Plan</label>
		<select>
			<option>Select</option>
		</select>
		<label>Starting</lable>
			<input type="date" placeholder="Today" />
	</form>
</script>
