<div class='modal hide' id='new-pm-modal'>
	<div class='modal-header'>
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>New Payment Method</h3>
	</div>

	<div class='modal-body'>
	<form id='new-pm-form' class='form-horizontal'>

		<div class='alert alert-error hide'></div>

		<div class='control-group'>
			<label class='control-label'>Type</label>
			<div class='controls'>
				<select class='new-payment-method-type' name='pay_type' style='width:9em;'>
					<option id='new-credit-card'>Credit Card</option>
					<option id='new-echeck'>E-check</option>
				</select>
			</div>
		</div>

		<div class='credit-card-selected'>
			<div class='control-group'>
				<label class='control-label'>Card Number</label>
				<div class='controls'>
					<input id="" type="text" name="card_number" value />
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>Expiration</label>
				<div class='controls'>
					<input type='text' placeholder='Month' class='input-mini' name='expiration_month' /> /
					<input type='text' placeholder='Year' class='input-mini' name='expiration_year' />
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>Security Code</label>
				<div class='controls'>
					<input class='input-mini' id="" type="text" name="security_code" value=""/>
				</div>
			</div>
		</div>

		<div class='echeck-selected hide'>
			<div class='control-group'>
				<label class='control-label'>Account Number</label>
				<div class='controls'>
						<input id="" type="text" name="acct_number" value=""/>
				</div>
			</div>
		</div>

		<div class="modal-form-actions" style='padding-bottom: 0'>
			<button id='new-pm-submit' class='btn'>Save</button> &nbsp;
		</div>
	</form>

	</div> <!-- end div.modal-body -->
</div> <!-- end div.modal -->

<div id='remove-pm-modal' class='modal hide'>
	<div class='modal-header'>
		<h3>Removing payment method</h3>
	</div>
	<div class='modal-body'>
		<p>Are you sure you wish to do this? Note: the payment history will remain intact</p>
		<div class='modal-form-actions'>
			<a class='btn btn-danger' href='#' id='remove-charge-submit'>Remove</a>
			&nbsp; <a href='#' data-dismiss='modal'>Cancel</a>
		</div>
	</div>
</div>
