<script id='new-charge-tmpl' type='text/template' class='hide'>

	<h4>New Charge</h4>
	<p id="new-charge-error"></p>

	<form method="post" action="/charges" id="new-charge-form" class='form-horizontal'>
		<div class='control-group'>
			<label class='control-label'>Label</label>
			<div class='controls'>
				<input rel="tooltip" title="What is this charge for?" type="text" name="name" class='charge-form-tt' />
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label'>Amount</label>
			<div class='controls'>
				<div class="input-prepend">
					<span class="add-on">$</span>
					<input type="text" name="amount" style="width:4em;" />
				</div>
			</div>
		</div>

		<div class='control-group'>
			<label class='control-label'>Pay Date</label>
			<div class='controls'>
				<input type="date" name="due_date" title="Delay this charge to a future date (optional)." class='charge-form-tt' /> 
			</div>
		</div>

		<div class='modal-form-actions'>
			<input class="btn" id="new-charge-submit" name="commit" type="submit" value="Save" />
			<a class='btn back-to-profile' style='float:right'>Back</a>
		</div>

	</form>

</script>
